.big-image {
    z-index: 3;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "a"
    "b"
    "c";
    gap: 8px;
    opacity: 100%;
}

.big-image__image {
    max-width: 85vw;
    max-height: 75vh;
    grid-area: b;
    box-shadow: 0px 0px 55px 2px rgba(0, 0, 0, 0.25);
}

.big-image__close-button {
    grid-area: a;
    width: 28px;
    height: 28px;
    position: relative;
    background: url(../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: flex-end;
}

.big-image__text {
    color: #fff;
    grid-area: c;
    font-size: 18px;
}

/* --- --- --- */
@media  screen and (max-width: 500px) {
    .big-image {
        grid-template-areas: 
        ". a ."
        "b b b"
        ". c .";
        grid-template-columns: 16px auto 16px;
        gap: 6px 4px;
    }
    
    .big-image__image {
        max-width: 1080px;
        max-height: 85vh;
        width: 100%;
    }

    .big-image__text {
        font-size: 16px;
    }
}