.card {
  display: grid;
  grid-auto-rows: auto 1fr;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__footer {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-family: "Inter";
  font-size: 21px;
  font-weight: 900;
  width: calc(100% - 32px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  width: 21px;
  height: 19px;
  background: url(../images/heart.svg);
  transition: all 0.25s ease-out;
  cursor: pointer;
  border: none;
}

.card__delete-button {
  background: url(../images/delete-icon.svg);
  width: 20px;
  position: absolute;
  height: 19px;
  background-repeat: no-repeat;
  top: 16px;
  right: 16px;
  background-size: contain;
  background-position: center;
  opacity: 0%;
}


/* pseudo */
.card__like:hover {
  transform: scale(1.2);
}

.card__like_active {
  background: url(../images/heart-active.svg);
  cursor: pointer;
  border: none;
}

.card:hover .card__delete-button {
  opacity: 100%;
  transition: all 0.4s ease-out;
}