.content {
  min-height:  calc(100vh - 398px);
}

.content__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.content__no-post {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  justify-self: center;
  padding-top: 24px;
}

.content__no-post__hidden {
  display: none;
}

/* --- --- */
@media screen and (max-width: 800px) {
  .content {
    min-height: calc(100vh - 362px);
  }

  .content__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
.content {
  min-height: calc(100vh - 494px);
}

  .content__grid {
    grid-template-columns: 1fr;
  }

  .card__footer {
    padding: 16px;
  }
}
