.page {
  max-width: 1080px;
  margin: auto;
  font-family: "Inter", sans-serif;
  padding: 0 28px;

  /* stolen from somewhere */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /*Legibilidad del texto*/
  text-rendering: optimizelegibility;
}

.button {
  cursor: pointer;
  border: none;
}

.button:hover {
  opacity: 60% !important;
}

@media screen and (max-width: 800px) {
  .page {
    padding: 0 16px;
  }
}
