.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.popup_closed {
    display: none;
}

.popup__overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity: 64%;
}
.popup__form {
    position: relative;
    width: 100%;
    max-width: 366px;
    background-color:#fff;
    box-shadow: 0px 0px 55px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 32px;
}

.popup__description {
    margin-bottom: 48px;
    color: #000;
    font-size:  24px;
    font-weight: 900;
}

.popup__close-button {
    width: 28px;
    height: 28px;
    position: absolute;
    transform: rotate(90deg);
    top: -32px;
    right: -32px;
    background: url(../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.popup__save-button {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 40px;
}

.popup__save-button:hover {
    opacity: 80%;
}

.popup__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: none;
    margin: auto;
    padding: 0;
}

.popup__field-element {
    width: 100%;
    padding: 4px 0 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__image-container {
    z-index: 3;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "a"
    "b"
    "c";
    gap: 8px;
}

.popup__image {
    max-width: 85vw;
    max-height: 75vh;
    grid-area: b;
    box-shadow: 0px 0px 55px 2px rgba(0, 0, 0, 0.25);
}

.popup__image-close-button {
    grid-area: a;
    width: 28px;
    height: 28px;
    position: relative;
    transform: rotate(90deg);
    background: url(../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: flex-end;
}

.popup__image-text {
    color: #fff;
    grid-area: c;
    font-size: 18px;
}


/* --- --- --- */
@media  screen and (max-width: 500px) {
    .popup__close-button {
        top: -42px;
        right: 0;
    }

    .popup__image {
        max-width: 1080px;
        width: 100%;
    }

    .popup__image-container {
        grid-template-areas: 
        ". a ."
        "b b b"
        ". c .";
        grid-template-columns: 16px auto 16px;
    }

    .popup__image-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 462px) {
    .popup__form {
        margin: 0 16px 0;
        padding: 32px 24px;
        max-width: 382px;
    }
}