/* the basics */
@import url(../vendor/normalize.css);
@import url(../vendor/normalize__xtra.css);

/* the good stuff*/
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/pop-up.css);
@import url(../blocks/header.css);
@import url(../blocks/big-image.css);
@import url(../blocks/nav.css);
@import url(../blocks/content.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);